body {
	background-color: #996633;
}

#allcontent {
	width: 80%;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFCC00;
}


div {
    border-style: solid;
    border-width: 1px;
    border-color: yellow;
    margin: 4px;
}

div div{
    border-color: green;
}

div div div{
    border-color: blue;
}

div div div div{
    border-color: violet;
}

div div div div div{
    border-color: black;
}

div div div div div div{
    border-color: red;
}